<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Canaã mídia</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/slider.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.5.6/css/ionicons.min.css">
		<link rel="stylesheet" href="/css/style2.css">
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/mail.css">
    
</head>
<body>

  <header>
    <span><img class="logo" src="/img/logo_canaa2.png" alt=""></span>
    <span class="nav"><a class="contatos" href="#footer">Contatos</a><a class="locais" href="#sliders">Locais</a></span>
  </header>

<section class="background">

  <div class="elo2">
    <h2><strong>"</strong>A nossa plataforma de <b>mídia experiente</b> que estimula interações entre consumidores e marcas."</h2>
  </div>
  

</section>

<!----card----------------------------------->

<main class="cards">
  <section id="contact" class="card contact">
      <div class="icon">
          <img src="/img/icon2.png" alt="Contact us.">
      </div>
      <span><b>Mídia Out Of Home</b> e <b>Mídia Indoor</b>. 
        Geramos conexão entre marcas e 
        consumidores em seus trajetos diários.</span>

  </section>
  <section id="shop" class="card shop">
      <div class="icon">
          <img src="/img/icon2.png" alt="Shop here.">
      </div>
      <span>Conteúdo de alta qualidade que 
        <b>informa, inspira e entretém.</b></span>

  </section>
  <section id="about" class="card about">
      <div class="icon">
          <img  src="/img/icon2.png" alt="About us.">
      </div>
      <span><b>Canaã Mídia</b> é interação, criatividade, 
        engajamento, oportunidade, alcance, 
        movimento e resultados mensuráveis. </span>

      </section>

        <div class="linha0">
            <div class="linha00">
              <div class="linhaSeta0"></div>
              <div class="linha000"></div>
            </div>
        </div>
      
        <div class="linha">
            <div class="linha1">
              <div class="linhaSeta"></div>
              <div class="linha2"></div>
            </div>
        </div>

        <div class="linha3">
          <div class="linha33">
            <div class="linhaSeta3"></div>
            <div class="linha333"></div>
          </div>
      </div>


    <img class="canaa" src="/img/midiaKit.png" alt="">
</main>

<!----card----------------------------------->

<section class="section3">
    <div class="textos">
      <h1 class="expo">Mídia Exposição de alto impacto</h1>
      <p class="pont">Mais de</p>
      <h1 class="p200">200</h1>
      <p class="pont2">Pontos Ativos</p>
      <p class="quadro1">impacto diário de mais de 96 mil pessoas por dia</p>
      <p class="quadro2">impacto diário de mais de 96 mil pessoas por dia</p>
    </div>

    <div class="divEdificio"> 
      <h2>Águas Claras e Taguatinga</h2>
        <img src="/img/edificios.png" alt="">
    </div>
    
</section>
<section class="section4">

    <div class="led">
      <h1>Anúncios <b>rápidos</b>, vistos em momentos de pausa ou espera que possuem:</h1>
      <div class="divimg">
        <img src="/img/elevador.png" alt="">
        <h2>Monitores Instalados em Elevadores Sociais</h2>
      </div>
    </div>

    <div class="tops">
      <div class="container_tops">
        <h1 class="top1">TOP 4</h1>
        <div>
          <img src="/img/icon1.png" alt="icon">
          <h1>57%</h1>
          <p><b>CRIATIVIDADE</b><br>dos anúncios/campanhas</p>
        </div>

        <div>
          <img src="/img/icon2.png" alt="icon">
          <h1>27%</h1>
          <p><b>ATUALIZAÇÃO</b><br>sobre novidades/promoções</p>
        </div>

        <div>
          <img src="/img/icon3.png" alt="icon">
          <h1>32%</h1>
          <p><b>TECNOLOGIA</b><br>ultilizada nos anúncios/companhas</p>
        </div>

        <div>
          <img src="/img/icon4.png" alt="icon">
          <h1>26%</h1>
          <p><b>INFORMAÇÕES</b><br>sobre marcas no momento/lugar certo para ajudar em minhas compras.</p>
        </div>

        
        <p class="top_text">Uma plataforma de mídia experiente que <b>estimula interações entre consumidores e marcas, exercendo uma influência
          positiva</b> no cotidiano de nosso público qualificado em ambientes corporativos e residenciais.</p>
      </div>
    </div>
  
</section>
<section class="section5">
  <div class="text_classe">
    <div>
      <div class="grafico">
        <h1>46</h1>
        <div>
          <span class="masc">
            <p>Masculino</p>
          </span>
          <span>
            <p class="fem">Feminino</p>
          </span>
        </div>
      </div>
      <div class="classe">
        <h1>Classe Social</h1>
        <span><img src="/img/arrow.png" alt="">A 26%</span>
        <span><img src="/img/arrow.png" alt="">B 58%</span>
        <span><img src="/img/arrow.png" alt="">C 16%</span>
      </div>
    </div>
    <div class="barras">

      <div>
        <div class="b0">
          <h1>22%</h1>
        </div>
        <div>
          <p>Até 19 anos</p>
        </div>
      </div>
  
      <div>
        <div class="b1">
          <h1>20%</h1>
        </div>
        <div>
          <p>20-29 anos</p>
        </div>
      </div>
  
      <div>
        <div class="b2">
          <h1>34%</h1>
        </div>
        <div>
          <p>30-49 anos</p>
        </div>
      </div>
  
      <div>
        <div class="b3">
          <h1>24%</h1>
        </div>
        <div>
          <p>50+ anos</p>
        </div>
      </div>
  </div>    
  
</div>
<div class="hidde">
</div>

</section>
<section class="section6">
    <div class="elo">
      <h2>O Elo que te <b>conecta ao consumidor</b></h2>
    </div>
    <div class="steps">
      <span>
        <h2>1</h2>
        <p>Você envia a propaganda em banner digital com as especificações mínimas exigidas, (tamanho, peso do arquivo...).</p>
      </span>

      <span>
        <h2>2</h2>
        <p>Colocamos a arte em divulgação em nossas telas ja instaladas.</p>
      </span>

      <span>
        <h2>3</h2>
        <p>Envie até 03 videos que ficarão alternando entre si na grade de programação em looping.</p>
      </span>

      <span>
        <h2>4</h2>
        <p>Os anúncios possuem duração de 15 segundos e são veiculados entre 6h da manhã e 00h.</p>
      </span>

    </div>
</section>
<section class="section7">

  <div class="text_led">
     <h1>Painel de LED</h1>
     <h3>Pistão norte Estrada Parque</h3>
     <p>Painel de LED localizada na Estrada Parque, Pistão Norte, Taguatinga, Brasília-DF. Painel de LED P8, com 4m de largura x 10m de altura, com ilhós na imagem.</p> 
     <h4>120.000mil</h4>
     <h2>veículos <small>por dia</small></h2>
  </div>

  <div class="img_led">
      <img src="/img/img_led.png" alt="painel de led">
      <h2>Taguatinga - DF</h2>
  </div>

</section>

<!-- carrosel de imagens-->

<section id="sliders" class="ftco-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="tel featured-carousel owl-carousel">

          <div class="item">
            <div class="work-wrap d-md-flex">
              <div class="img order-md-last" style="background-image: url(/img/slide2.png);"></div>
              <div id="text" class="text text-left text-lg-right p-4 px-xl-5 d-flex align-items-center">
                <div class="desc w-100">
                  <h2 class="mb-4">Mega Empena</h2>
                  <h1>Edifício Motiliese</h1>
                  <p class="text-local2 mb-5">Mega Empena localizada na St. A Sul QSA 20 - Taguatinga, Brasília - DF, 70297-400 Painel iluminado,  com 6,80m de largura x 14,60m de altura,  com ilhós na imagem.</p>
                  <img style="width: 70px;" src="/img/icon_car.png" alt="icon">
                  <h1 class="text_local">80.000mil</h1>
                  <p class="mt-0"><b>Veículos</b> por dia</p>
                  <br>
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3838.3651474371245!2d-48.05173522471821!3d-15.837394524015735!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x935a32f2c31e039b%3A0xd59f858b39ffc63c!2sEdif%C3%ADcio%20Montelise!5e0!3m2!1spt-BR!2sbr!4v1710275087559!5m2!1spt-BR!2sbr" width="98%" height="280px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="work-wrap d-md-flex">
              <div class="img order-md-last" style="background-image: url(/img/slide3.png);"></div>
              <div id="text" class="text text-left text-lg-right p-4 px-xl-5 d-flex align-items-center">
                <div class="desc w-100">
                  <h2 class="mb-4">Mega Empena</h2>
                  <h1>Residencial Costa Verde</h1>
                  <p class="text-local2 mb-5">Mega Empena localizada Q 208 - Águas Claras, Brasília-DF,  71926-500. Painel iluminado,  com 10m de largura x 30m de altura, com ilhós na imagem.</p>
                  <img style="width: 70px;" src="/img/icon_car.png" alt="icon">
                  <h1 class="text_local">60.000mil</h1>
                  <p class="mt-0"><b>Veículos</b> diariamente</p>
                  <br>
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3838.2099636350067!2d-48.03233511939961!3d-15.845558285008895!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x935a327116d1c955%3A0x6e5c6de13a349b54!2sResidencial%20Costa%20Verde!5e0!3m2!1spt-BR!2sbr!4v1710275310341!5m2!1spt-BR!2sbr" width="98%" height="280px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="work-wrap d-md-flex">
              <div class="img order-md-last" style="background-image: url(/img/slide4.png);"></div>
              <div id="text" class="text text-left text-lg-right p-4 px-xl-5 d-flex align-items-center">
                <div class="desc w-100">
                  <h2 class="mb-4">Mega Empena</h2>
                  <h1>Av Castanheiras Matheus Muniz</h1>
                  <p class="text-local2 mb-5">Mega Empena localizada na R. 28 Norte, 5 - Águas Claras, Brasília - DF, 71917-720. Painel iluminado,  com 10m de largura x 30m de altura,  com ilhós na imagem.</p>
                  <img style="width: 70px;" src="/img/icon_car.png" alt="icon">
                  <h1 class="text_local">45.000mil</h1>
                  <p class="mt-0"><b>Veículos</b> diariamente</p>
                  <br>
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3838.376507872832!2d-48.02384342471819!3d-15.836796724000907!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x935a326cb2a0284d%3A0x77634534a4c9e739!2sAv.%20das%20Castanheiras%20-%20%C3%81guas%20Claras%2C%20Bras%C3%ADlia%20-%20DF!5e0!3m2!1spt-BR!2sbr!4v1710331625000!5m2!1spt-BR!2sbr" width="98%" height="280px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="work-wrap d-md-flex">
              <div class="img order-md-last" style="background-image: url(/img/slide5.png);"></div>
              <div id="text" class="text text-left text-lg-right p-4 px-xl-5 d-flex align-items-center">
                <div class="desc w-100">
                  <h2 class="mb-4">Mega Empena</h2>
                  <h1>Águas de Branco</h1>
                  <p class="text-local2 mb-5">Mega Empena localizada na R. 9 Sul, 15 - Águas Claras, Brasília - DF, 71938-360. Painel iluminado,  com 6m de largura x 30m de altura,  com ilhós na imagem.</p>
                  <img style="width: 70px;" src="/img/icon_car.png" alt="icon">
                  <h1 class="text_local">50.000mil</h1>
                  <p class="mt-0"><b>Veículos</b> diariamente</p>
                  <br>
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3838.363394099481!2d-48.02000321940087!3d-15.837486784827417!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x935a32119afbfecb%3A0x1897e3f96f46f6eb!2sR.%209%20Sul%2C%2015%20-%20%C3%81guas%20Claras%2C%20Bras%C3%ADlia%20-%20DF%2C%2071938-360!5e0!3m2!1spt-BR!2sbr!4v1710332316512!5m2!1spt-BR!2sbr"  width="98%" height="280px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="work-wrap d-md-flex">
              <div class="img order-md-last" style="background-image: url(/img/slide6.png);"></div>
              <div id="text" class="text text-left text-lg-right p-4 px-xl-5 d-flex align-items-center">
                <div class="desc w-100">
                  <h2 class="mb-4">Mega Empena</h2>
                  <h1>Edifício das Américas</h1>
                  <p class="text-local2 mb-5">Mega Empena localizada Q. 107 - Águas Claras, Brasília - DF, 70297-400. Painel iluminado, com 10m de largura x 30m de altura, com ilhós na imagem.</p>
                  <img style="width: 70px;" src="/img/icon_car.png" alt="icon">
                  <h1 class="text_local">80.000mil</h1>
                  <p class="mt-0"><b>Veículos</b> diariamente</p>
                  <br>
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3838.5192644408044!2d-48.03495502471858!3d-15.829282823815424!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x935a332585626775%3A0x7b158059395698a3!2sEdif%C3%ADcio%20das%20Am%C3%A9ricas!5e0!3m2!1spt-BR!2sbr!4v1710332597271!5m2!1spt-BR!2sbr" width="98%" height="280px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="work-wrap d-md-flex">
              <div class="img order-md-last" style="background-image: url(/img/slide7.png);"></div>
              <div id="text" class="text text-left text-lg-right p-4 px-xl-5 d-flex align-items-center">
                <div class="desc w-100">
                  <h2 class="mb-4">Mega Empena</h2>
                  <h1>Imprensa III A</h1>
                  <p class="text-local2 mb-5">Mega Empena localizada R. Copaíba, 12 - Águas Claras, Brasília - DF, 71931-720. Painel iluminado, com 5,70m de largura x 40m de altura, com ilhós na imagem.</p>
                  <img style="width: 70px;" src="/img/icon_car.png" alt="icon">
                  <h1 class="text_local">70.000mil</h1>
                  <p class="mt-0"><b>Veículos</b> diariamente</p>
                  <br>
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3838.3909045058545!2d-48.04364142471823!3d-15.836039123982278!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x935a328aaddccba9%3A0x924cb98a1a2c235b!2sResidencial%20Imprensa%20III!5e0!3m2!1spt-BR!2sbr!4v1710332820279!5m2!1spt-BR!2sbr" width="98%" height="280px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="work-wrap d-md-flex">
              <div class="img order-md-last" style="background-image: url(/img/slide8.png);"></div>
              <div id="text" class="text text-left text-lg-right p-4 px-xl-5 d-flex align-items-center">
                <div class="desc w-100">
                  <h2 class="mb-4">Mega Empena</h2>
                  <h1>Imprensa III B</h1>
                  <p class="text-local2 mb-5">Mega Empena localizada R. Copaíba, 12 - Águas Claras, Brasília - DF, 71931-720. Painel iluminado, com 5,70m de largura x 40m de altura, com ilhós na 
                    imagem.</p>
                  <img style="width: 70px;" src="/img/icon_car.png" alt="icon">
                  <h1 class="text_local">70.000mil</h1>
                  <p class="mt-0"><b>Veículos</b> diariamente</p>
                  <br>
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3838.3906194681554!2d-48.04359942471811!3d-15.83605412398259!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x935a32f5534f27f7%3A0x3bb2785160a392ed!2sR.%20Copa%C3%ADba%2C%2012%20-%20%C3%81guas%20Claras%2C%20Bras%C3%ADlia%20-%20DF%2C%2070297-400!5e0!3m2!1spt-BR!2sbr!4v1710333297445!5m2!1spt-BR!2sbr"  width="98%" height="280px"  style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</section>

<section class="section8">

  <div class="infos">
      <h1><b>Metrô</b> <br>Brasília-DF<br><p>Se destaque diariamente para milhares de viajantes com nossas opções de publicidade estática no Metrô do Distrito Federal. <br><br> Sua marca será proeminente nas estações mais movimentadas, assegurando que sua mensagem seja destacada e memorável.</p>
      </h1>
      <img src="/img/metro1.png" alt="">
      
      <ul>
        <h4>VANTAGENS DA ULTILIZAÇÃO <br>DOS ESPAÇOS DO METRÔ-DF</h4>
        <li>Proximidade com o público alvo;</li>
        <li>Grande visibilidade diurna e noturna;</li>
        <li>Atinge diversas faixas etárias e classes</li>
        <li>Concentração de pessoas;</li>
        <li>Poucas opções de distração</li>
        <li>Possibilidade de inserir formatos interativos, como QR codes;</li>
        <li>oportunidade para se complementar ou se integrar com mobile marketing</li>
        <li>Grande fluxo diário de passageiros</li>
      </ul>
  </div>

  <div class="metro">

    <div class="estacao">
      <img class="est2" src="/img/trem.png" alt="">
      <img class="est3" src="/img/trilho.png" alt=""> 
      <img class="est1" src="/img/estacao.png" alt="">
      <img class="placa" src="/img/icon_metro.png" alt="icon">

    </div>
  </div>
  
  <div class="telas">
    <div>
      <img src="/img/led1.png" alt="tela"> 
      <h3>Catracas</h3>
    </div>
    <div>
      <img src="/img/led2.png" alt="tela"> 
      <h3>Sancas</h3>
    </div>
    <div>
      <img src="/img/led3.png" alt="tela"> 
      <h3>Painéis Laterais</h3>
    </div>
    <div>
      <img src="/img/led4.png" alt="tela"> 
      <h3>Cabeceiras</h3>
    </div>
  </div>
</section>

<!-- cabeçalho-->
<footer id="footer" class="bg-dark text-center text-lg-start text-white">
  <!-- Grid container -->
  
    <!--Grid row-->
    <div class="footer row">
      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">

          <img src="/img/midiaKit.png" height="70" style="max-width: 300px;" alt=""  loading="lazy" />

      </div>

      <div>
        <h5 style="color: rgb(255, 255, 255); font-size: 1.5rem;" class="text-uppercase">Contatos</h5>

        <ul class="list-unstyled">
          
          <li style="display: flex; align-items: center; justify-content: center; gap: 5px; margin-bottom: 5px;">
            <img style="width:15px;" src="/img/whats.svg" alt="">
            <p  style="color: white; font-size: 1.5rem; margin: 0;"><i class="fas fa-phone"></i>61 98371.7070</p>
          </li>
          <li style="display: flex; align-items: center; justify-content: center; gap: 5px;">
            <img style="width:15px;" src="/img/insta.svg" alt="">
            <p  style="color: white; font-size: 1.5rem; margin: 0;"><i class="fas fa-envelope pe-2 mb-0"></i>canaamidia</p>
          </li>
          <li>
            <p  style="color: white; font-size: 1.5rem;"><i class="fas fa-map-marker-alt pe-2"></i>Brasília - DF</p>
          </li>
        </ul>
      </div>

      <div class="email">
            <!---- Email -->
          <form action="/send" method="post">
                  <h4>Deixe sua mensagem</h4>
                  <p>Em breve entraremos em contato com você!</p>
                  <input type="text" name="name" class="form-control" id="exampleFormControlInput1" placeholder="Seu Nome">
                  <input type="tel" name="fone" class="form-control" id="exampleFormControlInput1" placeholder="Telefone">
                  <input type="email" name="email" class="form-control" id="exampleFormControlInput1" placeholder="Insira seu email">
                  <textarea class="form-control"  name="text" id="exampleFormControlTextarea1" rows="3" placeholder="Digite sua mensagem"></textarea>
                  <button type="submit" class="btnn">Enviar mensagem</button>
          </form>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.2)">
    <a class="text-white" style="font-size: 1.6rem;">canaamidia.com.br</a>
  </div>
  <!-- Copyright -->
</footer>




</body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
  integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
  integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
<script src="/js/bootstrap.min.js"></script>

<script src="/js/jquery.min.js"></script>
<script src="/js/popper.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/main.js"></script>

</html>